<%- include('header') %> <%- include('nav', { categories: categories, stores: stores }) %>
<div class="container">
  <div class="row">
    <div class="mb-5 col-md-4">
      <img
        src="<% if(book.image.data){%>data:image/<%= book.image.contentType %>;base64,<%=book.image.data.toString('base64') %><% }else{%>/img/default.jpg<% }%>"
        class="float-left p-4"
        style="width: 400px; height: auto; display: block"
      />
    </div>
    <div class="mb-5 col-md-8">
      <div class="p-4">
        <h1><%= book.title %></h1>
        <h5><span></span><span> <%= book.publisherName %></span></h5>
        <% if(req.isAuthenticated() && req.user.regularUser.isRegular) {%>
        <h5><%= book.price %> Ft (-<%= req.user.regularUser.discount%>%)</h5>
        <% } else {%>
        <h5><%= book.price %> Ft</h5>
        <% } %>
        <h5><span class="fa fa-star checked"><%= book.rating %></span></h5>
        <h3>Auhtor/s:</h3>
        <% book.authors.forEach(function(author){ %>
        <span><span><%= author.name %></span>, </span>
        <% }); %>
        <h3>Description:</h3>
        <span><%= book.description %></span>
        <p class="mt-5">
          <span><span><%= book.numberOfPages %></span> pages</span>
        </p>

        <span class="mt-2 mb-2"
          >This book is available in <% storeStock.forEach((values, keys) => { %>
          <span><%= keys %> (<%= values %>), </span>
          <% }); %> </span
        ><br />

        <a class="btn btn-primary mt-5" role="button" href="/user/add/<%=book.id%>">Add to cart!</a
        ><br />
      </div>
    </div>
  </div>
</div>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<%- include('footer') %>
