<%- include('header') %>
<%- include('nav', { categories: categories, stores: stores }) %>
    <%#<div th:if = "${errors != null}" class="alert alert-danger mr-5 ml-5 mt-5 mb-5" role="alert">
	  	<p th:each="error : ${errors}" th:text="${error}"></p>
	</div>%>
	<div class="container mt-5 mb-5">
    	<div class="row mt-5 mb-5">
    		
        	<div class="col-md-8">
                    <% if (catName) { %> <h1> <%= catName %> </h1> <% } %>
	    			<% if (storeName) { %> <h1> <%= storeName %> </h1> <% } %>
     		</div>
			<% if (catName) { %> 
			<div class="col-md-2 dropdown">
				<button type="button" class="btn btn-dark dropdown-toggle" data-toggle="dropdown">Price range:</button>
					<div class="dropdown-menu">
					<a class="dropdown-item" href="/browse/cat/<%= catName %>?sort=11"> - 2500 Ft</a>
					<a class="dropdown-item" href="/browse/cat/<%= catName %>?sort=12">2500 - 5000 Ft</a>
					<a class="dropdown-item" href="/browse/cat/<%= catName %>?sort=13">5000 - Ft</a>
					</div>
			</div>
     		<div class="col-md-2 dropdown">
     			<button type="button" class="btn btn-dark dropdown-toggle float-right" data-toggle="dropdown">Sort by:</button>
          			<div class="dropdown-menu">
            			<a class="dropdown-item" href="/browse/cat/<%= catName %>?sort=21">Alphabet (ASC)</a>
            			<a class="dropdown-item" href="/browse/cat/<%= catName %>?sort=22">Alphabet (DESC)</a>
            			<a class="dropdown-item" href="/browse/cat/<%= catName %>?sort=23">Score (ASC)</a>
            			<a class="dropdown-item" href="/browse/cat/<%= catName %>?sort=24">Score (DESC)</a>
          			</div>
     		</div>
            <% } %>
			<% if (storeName) { %>
			<div class="col-md-2 dropdown">
				<button type="button" class="btn btn-dark dropdown-toggle" data-toggle="dropdown">Price range:</button>
					<div class="dropdown-menu">
						<a class="dropdown-item"  href="/browse/store/<%= storeName %>?sort=11"> - 2500 Ft</a>
						<a class="dropdown-item"  href="/browse/store/<%= storeName %>?sort=12">2500 - 5000 Ft</a>
						<a class="dropdown-item"  href="/browse/store/<%= storeName %>?sort=13">5000 - Ft</a>
					</div>
			</div>
     		<div class="col-md-2 dropdown">
     			<button type="button" class="btn btn-dark dropdown-toggle float-right" data-toggle="dropdown">Sort by:</button>
          			<div class="dropdown-menu">
            			<a class="dropdown-item"  href="/browse/store/<%= storeName %>?sort=21">Alphabet (ASC)</a>
            			<a class="dropdown-item"  href="/browse/store/<%= storeName %>?sort=22">Alphabet (DESC)</a>
            			<a class="dropdown-item"  href="/browse/store/<%= storeName %>?sort=23">Score (ASC)</a>
            			<a class="dropdown-item"  href="/browse/store/<%= storeName %>?sort=24">Score (DESC)</a>
          			</div>
     		</div>
             <% } %>
		</div>
		<table class="table watched-table">
		  <thead class="thead-dark">
		    <tr>
		      <th scope="col" style="width:8%"> <span> #</span></th>
		      <th scope="col">Book</th>
		      <th scope="col">Rate</th>
		      <th scope="col">Price</th>
		      <th scope="col">Status</th>
		    </tr>
		  </thead>
		  <tbody>
			<% 	let i = 1; 
				books.forEach((values, keys) => { %>
		    <tr>
		      <th scope="row"><%= i %></th>
			  <% i++; %>
		      <td>
		      	<img id="book_img" src="<% if(keys.image.data){%>data:image/<%= keys.image.contentType %>;base64,<%=keys.image.data.toString('base64') %><% }else{%>/img/default.jpg<% }%>" style="height: 120px;" class="img-fluid float-left" alt="Responsive image">
           		<a href="/browse/book/<%=keys.id%>"><h5 id="title" style="margin-left: 100px"><%= keys.title %></h5></a>
           		<p id="nomargin" class="text-muted" style="margin-left: 100px"><%= keys.publicationDate %></p>
		      </td>
		      <td >
		      	<span class = "fa fa-star checked"><span><%= keys.rating %></span</span> 
		      </td>
		      <td >
				<% if(req.isAuthenticated() && req.user.regularUser.isRegular) {%>
					<span><span><%= keys.price %></span> Ft </span></br>(-<%= req.user.regularUser.discount%>%)</span>
				<% } else {%>
					<span><span><%= keys.price %></span> Ft</span>
				<% } %>
		      </td>
		      <td>
		      	<a class="btn btn-primary" role="button" href="/user/add/<%=keys.id%>">Add to cart!</a>
				<% if(storeName !== 0) {%>
					</br><span>(<%= values %> pieces in stock)</span>
				<%}%>
		      </td>
		    </tr>
			<% }); %>
		  </tbody>
		</table>
	</div>


	<script src = "/js/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src = "/js/bootstrap.min.js"></script>

<%- include('footer') %>