<%- include('header') %> <%- include('nav', { categories, stores }) %> <% if(req.isAuthenticated()
&& !req.user.isAdmin){ %>
<h1 class="text-center mt-5">
  Welcome
  <span><%= req.user.name.lastName %> <%= req.user.name.firstName %></span>!
</h1>
<% } else {%>
<h1 class="text-center mt-5">Bookshop homepage</h1>
<% }%>

<h1 class="mt-5 text-center">Newest books:</h1>
<div class="bd-example container bg-dark mb-5">
  <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <% newestBooks.forEach(function(book){ %>
      <div class="carousel-item">
        <a href="browse/book/<%=book.id%>">
          <img
            style="height: 500px; width: 337px"
            src="<% if(book.image.data){%>data:image/<%= book.image.contentType %>;base64,<%=book.image.data.toString('base64') %><% }else{%>/img/default.jpg<% }%>"
            class="d-block m-auto"
            alt="..."
          />
          <div class="carousel-caption d-none d-md-block text-right">
            <h3><%= book.title %></h3>
            <p class="card-text fa fa-star checked"><span><%= book.rating %></span></p>
            <p class="card-text fa fa-calendar checked"><span><%= book.publicationDate %></span></p>
          </div>
        </a>
      </div>
      <% }); %>
    </div>
    <a
      class="carousel-control-prev"
      href="#carouselExampleCaptions"
      role="button"
      data-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a
      class="carousel-control-next"
      href="#carouselExampleCaptions"
      role="button"
      data-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<h1 class="mt-5 text-center">Top rated books:</h1>
<div class="bd-example container bg-dark mb-5">
  <div id="carouselExampleCaptions2" class="carousel slide" data-ride="carousel2">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleCaptions2" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleCaptions2" data-slide-to="1"></li>
      <li data-target="#carouselExampleCaptions2" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <% topBooks.forEach(function(book){ %>
      <div class="carousel-item">
        <a href="browse/book/<%=book.id%>">
          <img
            style="height: 500px; width: 337px"
            src="<% if(book.image.data){%>data:image/<%= book.image.contentType %>;base64,<%=book.image.data.toString('base64') %><% }else{%>/img/default.jpg<% }%>"
            class="d-block m-auto"
            alt="..."
          />
          <div class="carousel-caption d-none d-md-block text-right">
            <h3><%= book.title %></h3>
            <p class="card-text fa fa-star checked"><span><%= book.rating %></span></p>
            <p class="card-text fa fa-calendar checked"><span><%= book.publicationDate %></span></p>
          </div>
        </a>
      </div>
      <% }); %>
    </div>
    <a
      class="carousel-control-prev"
      href="#carouselExampleCaptions2"
      role="button"
      data-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a
      class="carousel-control-next"
      href="#carouselExampleCaptions2"
      role="button"
      data-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<h1 class="mt-5 text-center">Books of the month:</h1>
<div class="bd-example container bg-dark mb-5">
  <div id="carouselExampleCaptions3" class="carousel slide" data-ride="carousel3">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleCaptions3" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleCaptions3" data-slide-to="1"></li>
      <li data-target="#carouselExampleCaptions3" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <% booksOfTheMonth.forEach(function(book){ %>
      <div class="carousel-item">
        <a href="browse/book/<%=book.id%>">
          <img
            style="height: 500px; width: 337px"
            src="<% if(book.image.data){%>data:image/<%= book.image.contentType %>;base64,<%=book.image.data.toString('base64') %><% }else{%>/img/default.jpg<% }%>"
            class="d-block m-auto"
            alt="..."
          />
          <div class="carousel-caption d-none d-md-block text-right">
            <h3><%= book.title %></h3>
            <p class="card-text fa fa-star checked"><span><%= book.rating %></span></p>
            <p class="card-text fa fa-calendar checked"><span><%= book.publicationDate %></span></p>
          </div>
        </a>
      </div>
      <% }); %>
    </div>
    <a
      class="carousel-control-prev"
      href="#carouselExampleCaptions3"
      role="button"
      data-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a
      class="carousel-control-next"
      href="#carouselExampleCaptions3"
      role="button"
      data-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<h1 class="mt-5 text-center">Books of the week:</h1>
<div class="bd-example container bg-dark mb-5">
  <div id="carouselExampleCaptions4" class="carousel slide" data-ride="carousel4">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleCaptions4" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleCaptions4" data-slide-to="1"></li>
      <li data-target="#carouselExampleCaptions4" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <% booksOfTheWeek.forEach(function(book){ %>
      <div class="carousel-item">
        <a href="browse/book/<%=book.id%>">
          <img
            style="height: 500px; width: 337px"
            src="<% if(book.image.data){%>data:image/<%= book.image.contentType %>;base64,<%=book.image.data.toString('base64') %><% }else{%>/img/default.jpg<% }%>"
            class="d-block m-auto"
            alt="..."
          />
          <div class="carousel-caption d-none d-md-block text-right">
            <h3><%= book.title %></h3>
            <p class="card-text fa fa-star checked"><span><%= book.rating %></span></p>
            <p class="card-text fa fa-calendar checked"><span><%= book.publicationDate %></span></p>
          </div>
        </a>
      </div>
      <% }); %>
    </div>
    <a
      class="carousel-control-prev"
      href="#carouselExampleCaptions4"
      role="button"
      data-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a
      class="carousel-control-next"
      href="#carouselExampleCaptions4"
      role="button"
      data-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script>
  $('.carousel-item:nth-child(1)').addClass('active');
</script>
<%- include('footer') %>
